RewriteEngine On

# Rewrite condition for the blog page
RewriteRule ^blog$ https://blogs.electro707.com/

RewriteCond %{HTTP_HOST} !^localhost([:\d]*)$ [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

<IfModule mod_mime.c>
 AddType text/plain .asc
</IfModule>
