@import url('_fonts/robot_font.css');

@import url('base.css');

#intro{
    text-align: center;
}
#intro > h1{
    font-size: 50px;
}
#intro > p{
    font-size: 1.2em;
}

th, td {
    border: 1px solid black;
	text-align: center;
	padding: 10px 10px;
    width: 900px;
    
}
#main_table{
    border-collapse: collapse;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 90%;
	max-width: 900px;
	margin: auto;
	padding: 10px 10px;
}
tr{
    background-color: #faa781;
    color: black;
}
tr.toprow{
    background-color: #f26e25;
    color: black;
}

@media screen and (max-width: 1050px) {
    table, th, td, tr {
	width: 80%;
	}
}
#home_link{
    width: 100%;
}

#home_link > a{
	font-weight: bold; 
	align-items: center; 
	background: #77c4f8; 
	width: fit-content; 
	color: black;
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#home_link > a > *{
	padding: 5px;
	margin: 0px;
}