@import url('_fonts/robot_font.css');

body{
	background-color: #81d4fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	line-height: 1.15;
}
a{
	color: rgb(0, 0, 180);
	text-decoration: inherit;
  	background-color: inherit;
}

#top_home_div{
	align-items: center; 
	display: flex; 
	background: #ffa343; 
	width: 100%;
}

#top_home_div > *{
	padding: 5px;
	margin: 0px;
	font-weight: bold; 
	color: black;
	font-size: 20px;
}

#intro{
    color: black;
    line-height: 1.0;
}
#intro>*{
    margin: 5px 0px;
}
#intro > h1{
    font-size: 50px;
    font-weight: bold;
}
#intro > h2{
    font-size: 32px;
    font-weight: 400;
}
#intro > h3{
    font-size: 28px;
}

ul{
	list-style-type: circle;
}
p{
    font-size: 20px;
    word-wrap: break-word;
    max-width: 1000px;
}
h3{
    font-size: 28px;
}
h4{
	font-weight: bold;
}

#warning{
	color:#F00;
	line-height: 0.0;
}

.note_prefix{
	color:rgb(120, 80, 0);
	font-weight: bold;
}

table{
	border-collapse: collapse;
	padding: 10px 10px;
	width: 100%;
	max-width: 1000px;
	font-size: 3vw;

}
@media screen and (min-width: 1000px) {
	table {
	   font-size: 100%;
	}
  }
th, td {
  border: 2px solid black;
	text-align: center;
	padding: 5px 5px;
}
#table_header > td{
	font-weight: bold;
	font-size: 120%;
}

/*CSS for any technical diagrams, including CAD stuff and schematics*/
.technical_diagrams{
	width: 100%;
	max-width: 1200px;
	background: white;
	margin-top: 1em;
	margin-bottom: 1em;
}
/*CSS for any images*/
.showcase_image{
	width: 100%;
	max-width: 1200px;
	background: white;
	margin-top: 1em;
}

.icon{
    width: 50%;
    max-width: 120px;
    margin-left: 1em;
}
